<!-- Navbar (Header) Starts -->
<nav class="navbar navbar-expand-lg navbar-dark bg-unique" style="background-color: teal;">
    <a class="navbar-brand" href=""><strong>MDB</strong></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-6"
        aria-controls="navbarSupportedContent-6" aria-expanded="true" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse show" id="navbarSupportedContent-6" style="">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light" href="">Profile</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle waves-effect waves-light" id="navbarDropdownMenuLink-6"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown </a>
                <div class="dropdown-menu dropdown-unique" aria-labelledby="navbarDropdownMenuLink-6"
                    style="display: none; position: absolute;">
                    <a class="dropdown-item waves-effect waves-light" href="">Action</a>
                    <a class="dropdown-item waves-effect waves-light" href="">Another action</a>
                    <a class="dropdown-item waves-effect waves-light" href="">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link waves-effect waves-light log-out" >log out</a>
            </li>
        </ul>
        <form class="form-inline waves-effect waves-light">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        </form>
    </div>
</nav>
<!-- Navbar (Header) Ends -->